@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Exo 2', sans-serif;

}  

@media print {
  body * {
    visibility: hidden;
  }

  .print-container,
  .print-container * {
    visibility: visible;
  }

  .print-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .btn {
    display: none !important;
  }
}

.barcode {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.85rem;
  letter-spacing: 3px;
}

